h1{
	color: red;
	text-transform: uppercase;
		font-weight: bold;
		font-size: 250%;
}
.col {
	background-color: darkblue;
}

h3{
	font-weight: 700;
	border-radius: 300px;
}

.btn-xl {
    padding: 1rem 2rem;
}


h2{
	color: black;
	background-color: transparent;
	text-transform: uppercase;
		font-weight: bold;
		font-size: 250%;
	}


/*h3{
	color: blanchedalmond;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 250%;
}*/


li{
	color: purple;
background-color: transparent;
font-style: italic;
font-size: 180%;
}
body{
	background-image:url(background.jpg) ;
	background-size: cover;

}
.mydiv {
  border: 10px outset red;
  background-color: lightblue;

  text-align: center;
  text-transform: uppercase ;
  color: black;
  font-weight: bold;
  font-size: 150%;
}
span{
  text-transform: uppercase;
 font-weight:bold ;
 font-style: inherit;
 font-size: 30px;
}

/* text selector
- line height : 20px
-text-transform: uppercase;
-font-style: italic
-font-size: 80%
-font-weight: bold:;
-font-family: georgia;
