body{
	background-image: url(background.jpg);
	background-size:cover;
}

h4{
	color: lightblue;
background-color: transparent;
font-style: italic;
font-size: 180%;
}

h1{
	color: darkblue;
background-color: transparent;
font-style: italic;
font-size: 180%;
}
h5{
	color: blanchedalmond;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 250%;

}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: 1s;

}
.container:hover {
	transform: scale(1,0);
}


/*img{
	float: right;
}*/
